body,html{
	margin: 0;
	height: 100%;
}
#root{
	height: 100%;
}

#front{
	width: 100%;
	min-height: 100%;
	position: relative;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(1,10,48,1) 80%, rgba(0,0,42,1) 100%);
	z-index: 10;
}

#front .type{
	color:grey;
	font-size: 26px;
}
#front .header{
	color: white;
	padding-top:10px;
	padding-left: 20px;
	font-size: 27px;
	font-family: 'Impact, Charcoal, sans-serif';
	width: 100%;
	background-color: rgba(10,2,60,0.5);
	position: fixed;
	height: 50px;
	top: -10px;
	z-index: 99;
}
#front .header .toggle{
	position: fixed;
	top: 1px;
	right: 20px;
	cursor: pointer;
}
#front .menu-toggle{
	background-color: black;
	border-radius: 20px;
	width: 220px;
	height: 350px;
	position: fixed;
	top: 50px;
	right: 25px;
	z-index: 99;
	opacity: 1;
	border:2px solid white;
	transition: all 0.4s;
	color:white;
	font-size: 20px;
	text-align: center;
	padding-top: 50px;
}

#front .menu-toggle div:hover{
	text-decoration: underline;
	cursor: pointer;
}

#front .menu-toggle img{
	width: 50px;
	height: auto;
	margin-top: -20px;
	margin-bottom: 20px;
}

#front .menu-toggle div p > .active {
    text-decoration: underline;
}

.particles{
	width: 100%;
	height: 100%;
  	z-index: 2;
  	position: absolute;
  	top: 0;
}

.logo-animation{
	position: relative;
}

.bundle{
	position: relative;
	display: block;
	margin:auto;
	width: 350px;
	height: 350px;
	top:200px;
	background-image: radial-gradient(circle, #00073b, #000834, #00082d, #000825, #00081d, #030618, #040413, #04030c, #050208, #050104, #030002, #000000);
	border-radius: 50%;
	z-index: 20;
	border: 2px solid #1C1C1C;
	box-shadow: 3px 3px 6px 3px silver;

}

.logo-animation .stroke1{
	width:0px;
	height: 20px;
	top:150px;
	background-color: silver;
	transform: rotate(-70deg);
	position: absolute;
	animation-name: stroke1;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;  
}

.logo-animation .stroke2{
	width:0px;
	height: 20px;
	background-color: silver;
	position: absolute;
	left: 125px;
	top: 55px;
	border-radius: 7px;
	animation-name: stroke2;
	animation-duration: 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;  
}

.logo-animation .stroke3{
	width: 200px;
	height: 0px;
	background-color: silver;
	position: absolute;
	top: 140px;
	left: 125px;
	transform: rotate(-70deg);
	border-radius: 8px;
	animation-name: stroke3;
	animation-duration: 0.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;  
}

.logo-animation .stroke4{
	width:0px;
	height: 20px;
	background-color: silver;
	position: absolute;
	top: 192px;
	left: 20px;
	transform: rotate(20deg);
	border-radius: 8px;
	animation-name: stroke4;
	animation-duration: 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;  
}

.logo-animation .stroke5{
	width:0px;
	height: 20px;
	background-color: silver;
	position: absolute;
	top:163px;
	left: 26px;
	border-radius: 7px;
	animation-name: stroke5;
	animation-duration: 0.5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;  
}




@keyframes stroke1{
	0%{width: 0;}
	100%{width: 200px;}
}
@keyframes stroke2{
	0%{width: 0;}
	100%{width: 140px;}
}
@keyframes stroke3{
	0%{height: 0;}
	100%{height: 20px;}
}
@keyframes stroke4{
	0%{width: 0;}
	100%{width: 180px;}
}
@keyframes stroke5{
	0%{width: 0;}
	100%{width: 240px;}
}

#front .frontContent{
	color:white;
	text-align: center;
	margin-top: 230px;
	font-size: 40px;
}

.arrow-down{
	width: 100%;
	margin-top: 200px;
	cursor: pointer;
}
.arrow-down span{
	display: block;
	color: white;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	opacity: 0;
	cursor: pointer;
	opacity:0;

	animation-name: blinkingArrow;
	animation-duration: 1.5s;
	animation-delay: 2.5s;
	animation-fill-mode: forwards; 
	animation-iteration-count:infinite;
}

@keyframes blinkingArrow{
	20%{
		opacity:1;
	}
	80%{
		opacity:0;
	}
	
}



.about{
	width: 100%;
	min-height: 700px;
	background: rgb(1,5,45);
background: linear-gradient(180deg, rgba(1,5,45,1) 0%, rgba(0,90,158,1) 40%, rgba(255,250,250,1) 100%);
	position: relative;
	margin:auto;
	padding-bottom: 50px;
}

.about .header{
	display: block;
	text-align: center;
	font-size: 40px;
	padding-top: 50px;
	color:silver;
	font-family: sans-serif;
}

.about .side-left{
	margin-top: 50px;
	width: 400px;
	height: 300px;
}

.about .side-left .photo img{
	width: 320px;
	height: 320px;
	display: block;
	margin:auto;
	box-shadow: 2px 2px 4px 4px snow;
	border-radius: 50%;
}

.about .side-right{
	min-height: 200px;
}

@media Screen and (max-width:1000px){
	.about .side-right{
		min-height: 500px;
	}
}


.about .side-right .main-right{
	background-color:rgba(177,196,219,0.2);
	color:white;
	padding:40px;
	font-family: sans-serif;
	font-size: 18px;
	width: 100%;
	
	box-shadow: 1px 1px 3px 2px lightblue;

	margin: 0 auto;position: relative;top: 30px;
	animation:float 2s infinite ease-in-out;
}


.box_shadow{
	position: relative; height: 17px; width:80%;background: #999; opacity: 0.5; border-radius: 100%; margin: 0 0 0% 10%; top: 110px;
	animation:react 2s infinite ease-in-out;
}

		


@keyframes float{
	50% {top: 52px;} 
	100% {top: 30px;}
}
@keyframes react{
	50% {margin: 0 0% 0% 20%; opacity: 0.9;} 100% {margin: 0 0 0% 10%; opacity: 0.4;}
}





.projects{
	width: 100%;
	min-height: 800px;
	height: auto;
	position: relative;
	background: rgb(255,250,250);
	background: linear-gradient(180deg, rgba(255,250,250,1) 0%, rgba(255,246,226,1) 74%, rgba(255,240,206,1) 100%);
	padding-bottom: 40px;
	padding-top: 40px;
}
.projects .hr1{
	width:50px;
	border:1px solid grey;
}
.projects .hr2{
	width:200px;
	border:1px solid grey;
}
.projects .hr3{
	width:400px;
	border:1px solid grey;
}


.projects .header{
	color: black;
	text-align: center;
	font-size: 40px;
	font-family: 'Impact, Charcoal, sans-serif';
}

.projects .projectsList{
	width: 70%;
	margin:auto;
}

.card{
	width: 300px;
	margin:auto;
	margin-top: 50px;
}

.card img{
	width: 100%;
	min-height: 280px;
	max-height: 300px;
}

.windowAppearBack{
	background-color: rgba(130,130,130,0.5);
	top: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 90;
}
.windowAppear{
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translate(-50%,0);
	background-color: snow;
	width: 50%;
	height: auto;
	z-index: 99;
	border:5px double grey;
	transition: all 0.5s;
	overflow-y: scroll;
}
.windowAppear .closeButton{
	position: absolute;
	right: 10px;
	top:-10px;
	font-size: 50px;
	color: grey;
	cursor: pointer;
}
.windowAppear img{
	display: block;
	width: 80%;
	max-width: 300px;
	margin:auto;
	margin-top: 40px;
}
.windowAppear .content h2{
	text-align: center;
	margin-top: 20px;
}
.windowAppear .content p {
	width: 80%;
	margin:auto;
	margin-top: 30px;
	min-height: 200px;
	border:1px solid lightgrey;
	padding:30px;
	font-size: 18px;
	margin-bottom: 30px;
}


.middleContent{
	width:100%;
	height:300px;
	background-image:url('https://wallpaperaccess.com/full/824718.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
}
.middleContent .text{
	padding:20px;
	text-align: center;
	color:white;
	font-size: 30px;
	background-color: rgba(255,240,250,0.1);
	width: 100%;
	height: 100px;
	vertical-align: middle;
	padding-top: 20px;
}




.skills{
	background: rgb(255,240,207);
background: linear-gradient(180deg, rgba(255,240,207,1) 0%, rgba(202,220,255,0.3) 50%, rgba(255,255,255,1) 100%);
	width: 100%;
	min-height: 600px;
	color: #383838;
	padding-top: 20px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right:20px;
}

.skills .header{
	text-align: center;
	font-size: 40px;
	font-family: 'Impact, Charcoal, sans-serif';
}

.skills .skillList{

	width: auto;
	max-width: 650px;
	min-height: 200px;
	margin:auto;
	font-size: 18px;
	border:2px groove snow;
	padding: 20px;
	margin-top: 10px;
}

.skills .skillImage{
	width: 100%;
	margin:auto;
}
.skills .skillImage img{
	display: block;
	margin:auto;
	width:100%;
	min-height: 300px;
	border-radius: 50%;
}

.skills .skillImage .logo{
	position: absolute;
	top: 48%;
	left: 30%;
	z-index: 10;
	color: white;
	font-size: 30px;
	background-color: rgba(184,184,184,0.3);
	border-radius:50%;
	width: 150px;
	height: 80px;
	text-align: center;
	padding-top: 15px;
	cursor: pointer;
}

.skills .skillImage .logo:hover{
	width: 170px;
	height: 100px;
	left:27%;
	top: 48%;
	padding-top: 22px;
	transition: all 0.5s;
}
.skills .skillImage .logo a{
	color:white;
}
.skills .skillImage .logo3 a{
	color:black;
}
.skills .skillImage .logo a:hover{
	text-decoration: none;
}

.skills .boxImage{
	background-color: lightblue;
	width: 100%;
	border-radius: 50%;
	min-height: 300px;
	display: block;
	margin:auto;
	margin-top: 50px;

}

.footer{
	background-image: url('http://flyboysdeli.com/wp-content/themes/catapultcreative/assets/img/footer_wrapper_background.png');
	background-size: cover;
	width: 100%;
	height: 500px;
	position: relative;
}

.footer .side-left{
	position: absolute;
	bottom: 140px;
	color: white;
	left: 10%;
	font-size: 22px;
}

.footer h2{
	font-family: monospace;
	margin-bottom: 20px;
	font-size: 35px;
	position: relative;
	left: 40px;
}

.footer .side-left span {
	margin-left: 40px;
	font-size: 35px;
	color: white;
}
.footer .side-left i:nth-child(1){
	transform: rotate(180deg);
	margin-top: 2px;
}
.footer .side-center{
	color:white;
	position: absolute;
	bottom: 80px;
	left:12%;
}

@media Screen and (max-width: 650px){
	.footer .side-left{
		left: 0px;
	}
	.footer .side-center{
		left: 40px;
	}
	
}

.footer .bottom{
	color: white;
	position: absolute;
	width: 100%;
	bottom:0;
	font-size: 18px;
	background-color: rgba(82,82,82,0.2);
	padding-top: 15px;
}

.footer .boxOver{
	width: 400px;
	position: absolute;
	left: 100px;
	bottom:90px;
	color: white;
}

.footer .boxOver span{
	font-size: 20px;
	border:1px solid silver;
	padding:10px;
	border-radius: 20px;
	cursor: pointer;

}


@media Screen and (max-width: 700px){
	.windowAppear{width: 90%;top:60px;height: 600px;}
	.footer h2{font-size: 36px;}
	.footer .side-left span{font-size: 28px;}
	.skills .skillImage .logo{left: 27%;}
	.footer .boxOver{left: 0;}
}
@media Screen and (max-width: 450px){
	.skills .skillImage .logo{left: 23%;}
	.skills .skillImage img{min-height: 220px;}
	.bundle{top:120px;}
	.skills .boxImage{min-height: 220px;}
}



                                      
