@media Screen  and (max-width:760px){

    #front .type{
        font-size: 24px;
    }
    .bundle{
        width:250px;
        height: 250px;
    }
    
    .logo-animation .stroke1{
        top:120px;
        left:15px;
        height: 15px;
    }
    .logo-animation .stroke2{
        left: 87px;
        top: 66px;
        height: 15px;
    }
    .logo-animation .stroke3{
        width: 110px;
        top: 110px;
        left: 105px;
        height: 15px;
    }
    .logo-animation .stroke4{
        top: 139px;
        left: 26px;
        height: 15px;
    }
    .logo-animation .stroke5{
        top:118px;
        left: 30px;
        height: 15px;
    }

    @keyframes stroke1{
        0%{width: 0;}
        100%{width: 120px;}
    }
    @keyframes stroke2{
        0%{width: 0;}
        100%{width: 100px;}
    }
    @keyframes stroke3{
        0%{height: 0;}
        100%{height: 20px;}
    }
    @keyframes stroke4{
        0%{width: 0;}
        100%{width: 130px;}
    }
    @keyframes stroke5{
        0%{width: 0;}
        100%{width: 160px;}
    }

    #front .header{
        font-size: 22px;
    }

    #front .menu-toggle{
        font-size: 18px;
    }
    .arrow-down{
        margin-top: 200px;
    }

    .about .side-right .main-right{
        font-size: 16px;
    }
    .about .header{
        font-size: 30px;
        margin-bottom: -20px;
    }
    .about .side-left .photo img{
        width: 250px;
        height:250px;
    }

    .projects .header{
        font-size: 30px;
        margin-bottom: -20px;
    }
    .projects .hr1{
        width:25px;
    }
    .projects .hr2{
        width:100px;
    }
    .projects .hr3{
        width:200px;
    }

    
    .projects .projectsList{
        width:90%;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin:auto;
        margin-top: 50px;
    }
    .windowAppear .content h2{
        font-size: 22px;
    }
    .windowAppear .content p {
        font-size: 16px;
    }

    .middleContent .text{
        font-size: 24px;
        padding:30px 0 0 0;
    }

    .skills .header{
        font-size: 30px;
    }

    .skills .skillList{
        font-size: 16px;
    }
    .skills .skillImage .logo{
        top:45%;
        left:30%;
    }
    .footer h2{
        font-size: 30px;
    }
    .footer .bottom{
        font-size: 14px;
    }

}

@media Screen  and (max-width:600px){
    .skills .skillImage .logo{
        top:45%;
        left:23%;
    }
}
